@import "mixins";

#about {
  margin: 5% 0 5% 0;

  .section {
    overflow: auto;
    width: 100%;

    margin: 10% 0 10% 0;

    .block {
      margin: 0 4% 0 0;
      padding: 0;  

      width: 25%;
      float: left;

      border: 1px solid #B1A451;  
      background-color: white;

      @include box-shadow(1px, 1px, 10px, -3px, #BBB);
      @include border-radius(5px, 5px, 5p, 5px);

      h1 {
        margin: 0;
        padding: 20px 10px 10px 20px;

        border-bottom: 1px solid #DDD;  
        background-color: white;

        @include border-radius(5px, 5px, 0, 0);

        font-size: 18px;
        font-style: italic;
        color: gray;
      }

      p {
        margin: 0;
        padding: 15px 20px 80px 20px;

        font-size: 14px;
        line-height: 20px;
        color: gray;
      }
    } /* block */

    ul.intervals {
      margin: 0;
      padding: 0 0 30px 0;

      list-style-type: none;
      display: block;
    }

    .timeline {
      margin: 0;
      padding: 0;

      float: left;
      width: 70%;

      ul.intervals li {
        margin: 0 1px 0 0;
        padding: 5px 0 5px 0;

        background-color: white;
        border-top: 1px solid #B1A451;

        color: gray;
        float: left;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        width: 9.6%;

        @include box-shadow(1px, 1px, 10px, -3px, #BBB);
      }


      ul.events {
        list-style-type: none;
        margin: 0;
        padding: 0;
        

        li {
          margin: 10px;
          padding: 0;
          position: relative;
          float: left;
          border-bottom: 1px solid #B1A451;
          background-color: white;

          @include border-radius(2px, 2px, 2px, 2px);

          font-size: 15px;
          color: gray;
          

          p {
            margin: 0;
            padding: 10px;

            font-size: 13px;
          }

          em {
            color: #aaa;
            font-weight: normal;
            font-size: 0.9em;
            
          }
        } /* li */
      } /* ul.events */
    } /* .timeline */
  } /* section */

  .skills-chart {
    float: left;
    width: 70%;

    ul.intervals li {
      margin: 0 2px 0 0;
      padding: 15px 0 15px 0;

      background-color: white;
      border-top: 1px solid #B1A451;

      left: 0%;

      color: gray;
      float: left;
      font-size: 13px;
      font-weight: bold;
      text-align: center;
      width: 24.5%;

      @include box-shadow(1px, 1px, 10px, -3px, #BBB);
    }

    ul.events li {
      margin: 0 0 5px 0;
      padding: 5px 0 5px 7px;

      border-width: 0;
      background-color: rgba(0,0,0,0);

      font-size: 13px;
      font-weight: bold;
      color: white;
    } /* ul.events li */
  } /* .skills-chart */
}

#jie {
  width: 97%;

  p {
    margin: 0;
    padding: 0;

    @include border-radius(30px, 30px, 30px, 30px);          

    font-family: 'Ubuntu', Sans-serif;
    font-size: 21px;
    line-height: 30px;
  }
}