/**
$ho - horizontal offset
$vo - vertical offset
$br - blue radius
$sr - spread radius
$c - color
**/
/**
$tl - top left radius
$tr - top right radius
$bl - bottom left radius
$br - bottom right radius
**/
/**
**/
/**
**/
#about {
  margin: 5% 0 5% 0;
  /* section */ }
  #about .section {
    overflow: auto;
    width: 100%;
    margin: 10% 0 10% 0;
    /* block */
    /* .timeline */ }
    #about .section .block {
      margin: 0 4% 0 0;
      padding: 0;
      width: 25%;
      float: left;
      border: 1px solid #B1A451;
      background-color: white;
      -moz-box-shadow: 1px 1px 10px -3px #bbbbbb;
      -webkit-box-shadow: 1px 1px 10px -3px #bbbbbb;
      box-shadow: 1px 1px 10px -3px #bbbbbb;
      -webkit-border-radius: 2px;
      -moz-border-top-left-radius: 5px;
      border-top-left-radius: 5px;
      -moz-border-top-right-radius: 5px;
      border-top-right-radius: 5px;
      -moz-border-bottom-left-radius: 5p;
      border-bottom-left-radius: 5p;
      -moz-border-bottom-right-radius: 5px;
      border-bottom-right-radius: 5px; }
      #about .section .block h1 {
        margin: 0;
        padding: 20px 10px 10px 20px;
        border-bottom: 1px solid #DDD;
        background-color: white;
        -webkit-border-radius: 2px;
        -moz-border-top-left-radius: 5px;
        border-top-left-radius: 5px;
        -moz-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        -moz-border-bottom-left-radius: 0;
        border-bottom-left-radius: 0;
        -moz-border-bottom-right-radius: 0;
        border-bottom-right-radius: 0;
        font-size: 18px;
        font-style: italic;
        color: gray; }
      #about .section .block p {
        margin: 0;
        padding: 15px 20px 80px 20px;
        font-size: 14px;
        line-height: 20px;
        color: gray; }
    #about .section .timeline {
      margin: 0;
      padding: 0;
      float: left;
      width: 70%;
      /* ul.events */ }
      #about .section .timeline ul.events {
        list-style-type: none;
        margin: 0;
        padding: 0;
        /* li */ }
        #about .section .timeline ul.events li {
          margin: 10px;
          padding: 0;
          position: relative;
          border-bottom: 1px solid #B1A451;
          background-color: white;
          -webkit-border-radius: 2px;
          -moz-border-top-left-radius: 2px;
          border-top-left-radius: 2px;
          -moz-border-top-right-radius: 2px;
          border-top-right-radius: 2px;
          -moz-border-bottom-left-radius: 2px;
          border-bottom-left-radius: 2px;
          -moz-border-bottom-right-radius: 2px;
          border-bottom-right-radius: 2px;
          font-size: 15px;
          color: gray; }
          #about .section .timeline ul.events li p {
            margin: 0;
            padding: 10px;
            font-size: 13px; }
          #about .section .timeline ul.events li em {
            color: #aaa;
            font-weight: normal;
            font-size: 0.9em; }
  #about .skills-chart {
    float: left;
    width: 70%; }
    #about .skills-chart ul.intervals li {
      margin: 0 2px 0 0;
      padding: 15px 0 15px 0;
      background-color: white;
      border-top: 1px solid #B1A451;
      left: 0%;
      color: gray;
      float: left;
      font-size: 13px;
      font-weight: bold;
      text-align: center;
      width: 24.5%;
      -moz-box-shadow: 1px 1px 10px -3px #bbbbbb;
      -webkit-box-shadow: 1px 1px 10px -3px #bbbbbb;
      box-shadow: 1px 1px 10px -3px #bbbbbb; }
    #about .skills-chart ul.events li {
      margin: 0 0 5px 0;
      padding: 5px 0 5px 7px;
      border-width: 0;
      background-color: rgba(0, 0, 0, 0);
      font-size: 13px;
      font-weight: bold;
      color: white; }

#jie {
  width: 97%; }
  #jie p {
    margin: 0;
    padding: 0;
    -webkit-border-radius: 2px;
    -moz-border-top-left-radius: 30px;
    border-top-left-radius: 30px;
    -moz-border-top-right-radius: 30px;
    border-top-right-radius: 30px;
    -moz-border-bottom-left-radius: 30px;
    border-bottom-left-radius: 30px;
    -moz-border-bottom-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-family: 'Ubuntu', Sans-serif;
    font-size: 21px;
    line-height: 30px; }

ul.timeline-events li {
  margin: 0;
  float: left; }

ul.intervals {
  margin: 0;
  padding: 0 0 30px 0;
  list-style-type: none;
  display: block; }

/* The width depends on the number of intervals. For example 100 / 7 = 14.29% -- then subtract a little bit for room for the borders */
.timeline ul.intervals li {
  margin: 0 1px 0 0;
  padding: 5px 0 5px 0;
  background-color: white;
  border-top: 1px solid #B1A451;
  color: gray;
  float: left;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  width: 9.6%;
  -moz-box-shadow: 1px 1px 10px -3px #bbbbbb;
  -webkit-box-shadow: 1px 1px 10px -3px #bbbbbb;
  box-shadow: 1px 1px 10px -3px #bbbbbb; }
