#contact-box {
  margin: 5% 0 0 0;
  padding: 0;

  max-width: 600px;

  background-color: white;

  -moz-box-shadow:    0 0 10px 3px grey;
  -webkit-box-shadow: 0 0 10px 3px #111;
  box-shadow:         1px 1px 10px -3px #BBB;

  -moz-border-radius: 5px;
  border-radius: 5px;
}

#contact-box h1 {
  margin: 0;
  padding: 20px;

  border-bottom: 1px solid #EEE;
  background-color: white;

  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;

  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-style: italic;
  color: gray;
}

#contact-box ul {
  margin: 0;
  padding: 0 0 10px 30px;
}

#contact-box li {
  margin: 15px 5px 5px 0;
}

/* contact form */

#contact-form .auto-hint {
  font-family: Helvetica, Sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #A1A1A1;
}

#contact-form {
  margin: 0;
  padding: 30px;

  border-top: 1px solid #EEE; 
}

#contact-form input, textarea {
  margin: 0 0 15px 0;
  padding: 7px;

  font-family: Helvetica, Sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #A1A1A1;

  width: 95%;

  border: 1px solid #DDD;
}

#contact-form button {
  margin: 0;
  padding: 0;

  border-width: 0;
}

#contact-form .ajax {
  float: right;
  position: relative;
  top: -37px;
  right: 2%;

  font-weight: bold;
  font-size: 14px;
  color: #AAA;
  
  opacity: 0;
}


#submit {
width:165px;
height:33px;

display:block;
font-family: "Helvetica Neue", Helvetica, sans-serif;
font-size:15px;
font-weight:bold;
color:#fff;
text-decoration:none;
text-align:center;
text-shadow:1px 1px 0px #07526e;
padding-top:14px;
margin-left:auto;
margin-right:auto;

position:relative;
left: 0;

cursor:pointer;

-webkit-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;

background-image: linear-gradient(bottom, rgb(14,137,182) 0%, rgb(22,179,236) 100%);
background-image: -o-linear-gradient(bottom, rgb(14,137,182) 0%, rgb(22,179,236) 100%);
background-image: -moz-linear-gradient(bottom, rgb(14,137,182) 0%, rgb(22,179,236) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(14,137,182) 0%, rgb(22,179,236) 100%);
background-image: -ms-linear-gradient(bottom, rgb(14,137,182) 0%, rgb(22,179,236) 100%);

-webkit-border-radius: 3px;
-webkit-border-radius: 3px;

-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #999;
-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #999;
-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #999;
box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #999;
}

#submit:active {
top:3px;
-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #07526e, 0px 5px 3px #999;
-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #07526e, 0px 5px 3px #999;
-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #07526e, 0px 5px 3px #999;
box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #07526e, 0px 5px 3px #999;
}