#contact-box {
  margin: 5% 0 0 0;
  padding: 0;

  max-width: 600px;

  background-color: white;

  -moz-box-shadow:    0 0 10px 3px grey;
  -webkit-box-shadow: 0 0 10px 3px #111;
  box-shadow:         1px 1px 10px -3px #BBB;

  -moz-border-radius: 5px;
  border-radius: 5px;
}

#contact-box h1 {
  margin: 0;
  padding: 20px;

  border-bottom: 1px solid #EEE;
  background-color: white;

  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;

  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-style: italic;
  color: gray;
}

#contact-box ul {
  margin: 0;
  padding: 0 0 10px 30px;
}

#contact-box li {
  margin: 15px 5px 5px 0;
}

/* contact form */

#contact-form .auto-hint {
  font-family: Helvetica, Sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #A1A1A1;
}

#contact-form {
  margin: 0;
  padding: 30px;

  border-top: 1px solid #EEE; 
}

#contact-form input, textarea {
  margin: 0 0 15px 0;
  padding: 7px;

  font-family: Helvetica, Sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #A1A1A1;

  width: 95%;

  border: 1px solid #DDD;
}

#contact-form button {
  margin: 0;
  padding: 0 0 2px 0;

  font-family: Helvetica, Sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: gray;
  letter-spacing: 0;

  background-color: white;
  border-width: 0;
  border-bottom: 2px solid #DDD;

  cursor: pointer;

  /*Transition*/
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
}

#contact-form button:hover {
  color: black;
}