/**
 * Parallax Scrolling Tutorial
 * For Smashing Magazine
 * July 2011
 *  
 * Author: Richard Shepherd
 *		   www.richardshepherd.com
 * 		   @richardshepherd   
 */


.story { 
  height: 1000px; 
  padding: 0; 
  margin: 0; 
  width: 100%; 
  max-width: 2500px; 
  position: relative; 
  margin: 0 auto; 
  border-top: 1px solid rgba(255,255,255,0.3); 
  border-bottom: 1px solid rgba(0,0,0,0.4); 
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

#first { background: url(http://imgur.com/ag3hI.jpg) 50% 0 no-repeat fixed; }
#second { background: url(http://i.imgur.com/6SVfA.jpg) 50% 0 no-repeat fixed; }
#third { 
	background-image: url(http://i.imgur.com/jfmtD.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
#fourth { background: url(http://i.imgur.com/n9xtI.jpg) 50% 0 no-repeat fixed; }
#fifth { background: url(http://i.imgur.com/CLefQ.jpg) 50% 0 no-repeat fixed; }

#fine-art h1 {
	font-family: 'Lilita One', cursive;
	font-size: 60px;
	color: white;
	margin: 0 0 20px 0;
}

#fine-art article {
	position: absolute;
	opacity: .1;
	-webkit-transition: opacity .2s linear;  
	-moz-transition: opacity .2s linear;  
	-o-transition: opacity .2s linear;  
	-ms-transition: opacity .2s linear;  
	transition: opacity .2s linear;
}

#fine-art article p {
	background: rgba(0, 0, 0, 0.2);
	padding: 10px;

	color: #EEE;
	font-size: 16px;
}

#fine-art article a {
	font-weight: bold;
}

#fine-art article:hover {
	opacity: 1;
}

#first article {
	opacity: 1;
	left: 4%;
	top: 30%;
}

#first article h1 {
	text-shadow: .1em .1em #333;
	width: 75%;
}


#first article p {
	width: 40%;
}

#second article,
#third article,
#fourth article,
#fifth article {
	width: 40%;
	height: 80%;
	right: 5%;
	top: 10%;
}
