/**
$ho - horizontal offset
$vo - vertical offset
$br - blue radius
$sr - spread radius
$c - color
**/
/**
$pro - property
$dur - duration
$tim - timing
**/
/**
$tl - top left radius
$tr - top right radius
$bl - bottom left radius
$br - bottom right radius
**/
/**
**/
/**
**/
.rw-wrapper {
  width: 90%;
  position: fixed;
  top: 29%;
  margin: 0 0 0 20px;
  font-family: 'Ubuntu', Helvetica, Sans-serif;
  padding: 10px; }
  .rw-wrapper .rw-sentence {
    margin: 0;
    text-align: left;
    text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.1); }
    .rw-wrapper .rw-sentence span {
      font-size: 300%;
      font-weight: 800;
      letter-spacing: -0.05em; }
    .rw-wrapper .rw-sentence .rw-words {
      display: inline; }
      .rw-wrapper .rw-sentence .rw-words span {
        position: absolute;
        opacity: 0;
        overflow: hidden;
        color: #317BBA;
        -webkit-animation: rotateWord 12s linear infinite 0s;
        -moz-animation: rotateWord 12s linear infinite 0s;
        -o-animation: rotateWord 12s linear infinite 0s;
        -ms-animation: rotateWord 12s linear infinite 0s;
        animation: rotateWord 12s linear infinite 0s; }
        .rw-wrapper .rw-sentence .rw-words span:nth-child(2) {
          -webkit-animation-delay: 2s;
          -moz-animation-delay: 2s;
          -o-animation-delay: 2s;
          -ms-animation-delay: 2s;
          animation-delay: 2s;
          color: #ee942b; }
        .rw-wrapper .rw-sentence .rw-words span:nth-child(3) {
          -webkit-animation-delay: 4s;
          -moz-animation-delay: 4s;
          -o-animation-delay: 4s;
          -ms-animation-delay: 4s;
          animation-delay: 4s;
          color: #3bafb9; }
        .rw-wrapper .rw-sentence .rw-words span:nth-child(4) {
          -webkit-animation-delay: 6s;
          -moz-animation-delay: 6s;
          -o-animation-delay: 6s;
          -ms-animation-delay: 6s;
          animation-delay: 6s;
          color: #a23f1c; }
        .rw-wrapper .rw-sentence .rw-words span:nth-child(5) {
          -webkit-animation-delay: 8s;
          -moz-animation-delay: 8s;
          -o-animation-delay: 8s;
          -ms-animation-delay: 8s;
          animation-delay: 8s;
          color: #cc0909; }
        .rw-wrapper .rw-sentence .rw-words span:nth-child(6) {
          -webkit-animation-delay: 10s;
          -moz-animation-delay: 10s;
          -o-animation-delay: 10s;
          -ms-animation-delay: 10s;
          animation-delay: 10s;
          color: #90d1d7; }

@-webkit-keyframes rotateWord {
  0% {
    opacity: 0; }

  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px); }

  5% {
    opacity: 1;
    -webkit-transform: translateY(0px); }

  17% {
    opacity: 1;
    -webkit-transform: translateY(0px); }

  20% {
    opacity: 0;
    -webkit-transform: translateY(30px); }

  80% {
    opacity: 0; }

  100% {
    opacity: 0; } }

@-moz-keyframes rotateWord {
  0% {
    opacity: 0; }

  2% {
    opacity: 0;
    -moz-transform: translateY(-30px); }

  5% {
    opacity: 1;
    -moz-transform: translateY(0px); }

  17% {
    opacity: 1;
    -moz-transform: translateY(0px); }

  20% {
    opacity: 0;
    -moz-transform: translateY(30px); }

  80% {
    opacity: 0; }

  100% {
    opacity: 0; } }

@-o-keyframes rotateWord {
  0% {
    opacity: 0; }

  2% {
    opacity: 0;
    -o-transform: translateY(-30px); }

  5% {
    opacity: 1;
    -o-transform: translateY(0px); }

  17% {
    opacity: 1;
    -o-transform: translateY(0px); }

  20% {
    opacity: 0;
    -o-transform: translateY(30px); }

  80% {
    opacity: 0; }

  100% {
    opacity: 0; } }

@-ms-keyframes rotateWord {
  0% {
    opacity: 0; }

  2% {
    opacity: 0;
    -mx-transform: translateY(-30px); }

  5% {
    opacity: 1;
    -mx-transform: translateY(0px); }

  17% {
    opacity: 1;
    -mx-transform: translateY(0px); }

  20% {
    opacity: 0;
    -mx-transform: translateY(30px); }

  80% {
    opacity: 0; }

  100% {
    opacity: 0; } }

@keyframes rotateWord {
  0% {
    opacity: 0; }

  2% {
    opacity: 0;
    transform: translateY(-30px); }

  5% {
    opacity: 1;
    transform: translateY(0px); }

  17% {
    opacity: 1;
    transform: translateY(0px); }

  20% {
    opacity: 0;
    transform: translateY(30px); }

  80% {
    opacity: 0; }

  100% {
    opacity: 0; } }

@media screen and (max-width: 768px) {
  .rw-sentence {
    font-size: 18px; } }
@media screen and (max-width: 320px) {
  .rw-sentence {
    font-size: 9px; } }
