@import "mixins";

.rw-wrapper{
	width: 90%;
	position: fixed;
  top: 29%;
	margin: 0 0 0 20px;
	font-family: 'Ubuntu', Helvetica, Sans-serif;
	padding: 10px;

  .rw-sentence {
  	margin: 0;
  	text-align: left;
  	text-shadow: .1em .1em rgba(0, 0, 0, .1);

     span{
    	font-size: 300%;
    	font-weight: 800;
      letter-spacing: -.05em;
    }

    .rw-words{
    	display: inline;
    }
    .rw-words-1 span {
    	position: absolute;
    	opacity: 0;
    	overflow: hidden;
    	color: #317BBA;
    	-webkit-animation: rotateWord 12s linear infinite 0s;
    	-moz-animation: rotateWord 12s linear infinite 0s;
    	-o-animation: rotateWord 12s linear infinite 0s;
    	-ms-animation: rotateWord 12s linear infinite 0s;
    	animation: rotateWord 12s linear infinite 0s;

      &:nth-child(2) { @include animation-delay(2s, #EE942B); }
      &:nth-child(3) { @include animation-delay(4s, #3BAFB9); }
      &:nth-child(4) { @include animation-delay(6s, #A23F1C); }
      &:nth-child(5) { @include animation-delay(8s, #CC0909); }
      &:nth-child(6) { @include animation-delay(10s, #90D1D7); }
    }
  }
}

@-webkit-keyframes rotateWord { @include rotateword-keyframes(-webkit-); }
@-moz-keyframes rotateWord { @include rotateword-keyframes(-moz-); }
@-o-keyframes rotateWord { @include rotateword-keyframes(-o-); }
@-ms-keyframes rotateWord { @include rotateword-keyframes(-mx-); }
@keyframes rotateWord { @include rotateword-keyframes(''); }

@media screen and (max-width: 768px){	.rw-sentence { font-size: 18px; }}
@media screen and (max-width: 320px){	.rw-sentence { font-size: 9px; }}