/**
$ho - horizontal offset
$vo - vertical offset
$br - blue radius
$sr - spread radius
$c - color
**/
/**
$tl - top left radius
$tr - top right radius
$bl - bottom left radius
$br - bottom right radius
**/
/**
**/
/**
**/
.logo {
  margin: 0 0 50px 0;
  font-weight: bold; }
  .logo a {
    margin: 0; }
    .logo a .logo-top {
      padding: 2px 5px 5px 5px;
      color: white;
      font-size: 33px;
      background: rgba(0, 0, 0, 0.6);
      text-align: center;
      -webkit-transition: All .3s linear;
      -moz-transition: All .3s linear;
      -o-transition: All .3s linear;
      -ms-transition: All .3s linear;
      transition: All .3s linear; }
    .logo a .logo-bottom {
      padding: 5px 0 0 0;
      font-size: 13px;
      color: rgba(0, 0, 0, 0.8); }

nav ul {
  margin: 0;
  padding: 0; }
  nav ul li {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    list-style-type: none;
    line-height: 25px; }
    nav ul li a:hover {
      color: black; }
  nav ul .current_page_item a {
    color: black; }
  nav ul .contact-btn {
    cursor: pointer; }

#contact-box {
  margin: -260px 0 0 -280px;
  position: fixed;
  left: 50%;
  top: 300%;
  z-index: 500;
  max-width: 500px;
  background-color: white;
  opacity: 0;
  -moz-box-shadow: 1px 1px 10px -3px #bbbbbb;
  -webkit-box-shadow: 1px 1px 10px -3px #bbbbbb;
  box-shadow: 1px 1px 10px -3px #bbbbbb;
  -webkit-border-radius: 2px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px; }
  #contact-box h1 {
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid #DDD;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-size: 25px;
    color: gray; }
  #contact-box ul {
    margin: 0;
    padding: 0 0 10px 30px; }
    #contact-box ul li {
      margin: 15px 5px 5px 0; }
  #contact-box #contact-form {
    margin: 0;
    padding: 30px;
    border-top: 1px solid #DDD; }
    #contact-box #contact-form .auto-hint {
      font-size: 13px;
      font-weight: bold;
      color: #A1A1A1; }
    #contact-box #contact-form input, #contact-box #contact-form textarea {
      width: 96%;
      margin: 0 0 15px 0;
      padding: 7px;
      font-family: Helvetica, Sans-serif;
      font-size: 13px;
      font-weight: bold;
      color: #A1A1A1;
      border: 1px solid #B1A451; }
    #contact-box #contact-form .ajax {
      float: right;
      position: relative;
      top: -37px;
      right: 2%;
      font-weight: bold;
      font-size: 14px;
      color: #AAA;
      opacity: 0; }
    #contact-box #contact-form #submit {
      margin: 0;
      padding: 0;
      width: 165px;
      height: 33px;
      border-width: 0;
      -webkit-border-radius: 2px;
      -moz-border-top-left-radius: 3px;
      border-top-left-radius: 3px;
      -moz-border-top-right-radius: 3px;
      border-top-right-radius: 3px;
      -moz-border-bottom-left-radius: 3px;
      border-bottom-left-radius: 3px;
      -moz-border-bottom-right-radius: 3px;
      border-bottom-right-radius: 3px;
      display: block;
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      text-decoration: none;
      text-align: center;
      text-shadow: 1px 1px 0px #07526e;
      position: relative;
      left: 0;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
      background-image: linear-gradient(bottom, #0e89b6 0%, #16b3ec 100%);
      background-image: -o-linear-gradient(bottom, #0e89b6 0%, #16b3ec 100%);
      background-image: -moz-linear-gradient(bottom, #0e89b6 0%, #16b3ec 100%);
      background-image: -webkit-linear-gradient(bottom, #0e89b6 0%, #16b3ec 100%);
      background-image: -ms-linear-gradient(bottom, #0e89b6 0%, #16b3ec 100%);
      -webkit-border-radius: 3px;
      -webkit-border-radius: 3px;
      -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #999999;
      -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #999999;
      -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #999999;
      box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #999999; }
      #contact-box #contact-form #submit:active {
        top: 3px;
        -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #07526e, 0px 5px 3px #999999;
        -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #07526e, 0px 5px 3px #999999;
        -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #07526e, 0px 5px 3px #999999;
        box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #07526e, 0px 5px 3px #999999; }

#cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
  background-color: #000000;
  opacity: .7;
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=.7); }
