/* navigation */

#logo, #logo a{
  font-family: "Helvetica Neue", Helvetica, Sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: black;
}

li.contact-info {
 font-family: "Helvetica Neue", Helvetica, Sans-serif;
  font-size: 14px;
  font-weight: bold;
  list-style-type: none;
  line-height: 17px;
}

nav ul{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

nav li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  list-style-type: none;
  line-height: 25px;
}

nav a:hover, li.current_page_item a{
  color: black;
}