.loader {
	background-color: black;
	background-image: url('http://suprb.com/lib/img/loading.gif');
	background-repeat: no-repeat;
	background-position: top left;
	z-index: 99990;
	display: none;
	height: 20px;
	width: 20px;
	position: absolute;
}
