/* body, main */

body {
  background-color:#1A1A1A;
  color:#979797;
  font-family: Helvetica, Sans-serif;
  background-image:url('imjeee2012/images/water.jpg');
}

.left {
  width:16%;
  position:fixed;
  top: 30%;
  padding: 0 0 0 20px;
}

.right {
  width:81%;
  position: absolute;
  left: 19%;
}

a, a:link {
  color:#979797;
  text-decoration:none;
  -webkit-transition: color .3s linear;
  -moz-transition: color .3s linear;
  -o-transition: color .3s linear;
  -ms-transition: color .3s linear;
  transition: color .3s linear;
}

a:hover {
  color: white;
}

a:active, a:visited {
  color: #607890;
}