/**
$ho - horizontal offset
$vo - vertical offset
$br - blue radius
$sr - spread radius
$c - color
**/
/**
$pro - property
$dur - duration
$tim - timing
**/
/**
$tl - top left radius
$tr - top right radius
$bl - bottom left radius
$br - bottom right radius
**/
/**
**/
/**
**/
body {
  background-image: url("../images/background-work.png");
  background-repeat: no-repeat;
  background-attachment: fixed; }

ul.img-grid {
  margin: 10% 0 10% 0;
  padding: 0;
  overflow: hidden; }
  ul.img-grid li {
    width: 285px;
    height: 295px;
    float: left;
    overflow: hidden;
    margin: 0 50px 50px 0;
    background-color: white;
    border-bottom: 1px solid #B1A451;
    -moz-box-shadow: 1px 1px 10px -3px #bbbbbb;
    -webkit-box-shadow: 1px 1px 10px -3px #bbbbbb;
    box-shadow: 1px 1px 10px -3px #bbbbbb;
    -webkit-border-radius: 2px;
    -moz-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px; }
    ul.img-grid li img {
      height: 190px;
      z-index: -1;
      margin: 0 0 -1px 0;
      border: 1px solid #B1A451;
      opacity: .85;
      filter: alpha(opacity=85);
      /* For IE8 and earlier */
      -webkit-transition: opacity 0.3s linear;
      -moz-transition: opacity 0.3s linear;
      -o-transition: opacity 0.3s linear;
      -ms-transition: opacity 0.3s linear;
      transition: opacity 0.3s linear;
      -webkit-border-radius: 2px;
      -moz-border-top-left-radius: 5px;
      border-top-left-radius: 5px;
      -moz-border-top-right-radius: 5px;
      border-top-right-radius: 5px;
      -moz-border-bottom-left-radius: 0;
      border-bottom-left-radius: 0;
      -moz-border-bottom-right-radius: 0;
      border-bottom-right-radius: 0; }
      ul.img-grid li img:hover {
        opacity: 1;
        filter: alpha(opacity=100);
        /* For IE8 and earlier */ }
    ul.img-grid li .img-details {
      height: 80px;
      padding: 15px;
      margin: -5 0 0 0;
      border-left: 1px solid #B1A451;
      border-right: 1px solid #B1A451; }
      ul.img-grid li .img-details h4, ul.img-grid li .img-details h4 a {
        padding: 5px 0 10px 0;
        margin: 0;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: .05em; }
        ul.img-grid li .img-details h4:hover, ul.img-grid li .img-details h4 a:hover {
          color: #B1A451; }
      ul.img-grid li .img-details p {
        padding: 0;
        margin: 0;
        font-size: 13px;
        color: gray;
        line-height: 15px; }
